@charset "utf-8";

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* 共通のスタイル */
.section-title {
  font-size: 30px;
  font-weight: bold;
  margin: 30px 0;
  text-align: center;
}

img {
  display: block;
  width: 100%;
}

.wrap {
  width: 80%;
  margin: 0 auto 50px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.around {
  justify-content: space-around;
}

header {
  height: 100px;
  width: 100%;
  position: relative;
  background-color: #fff;
  z-index: 9999;
  position: fixed;
}

.header-logo {
  src: url(img/logo_color.png);
  font-size: 20px;
  line-height: 100px;
}

.header-logo a {
  text-decoration: none;
}

.header-nav li {
  list-style-type: none;
  display: inline-block;
  margin-right: 50px;
}

.header-nav li a {
  color: grey;
  text-decoration: none;
}

#eyecatch {
  height: 700px;
  width: 100%;
  background: url(img/mega_thumb012x.jpg)no-repeat;
  background-size: cover;
  position: relative;
}

#eyecatch h1 {
  font-size: 50px;
  top: 65%;
  left: 5%;
  color: #fff;
  position: absolute;
  z-index: 1;
}

#eyecatch p {
  font-size: 25px;
  top: 73%;
  left: 5%;
  color: #fff;
  position: absolute;
  z-index: 1;
}

#for_us {
  margin-top: 50px;
}

.for_us_content {
  display: flex;
}

.for_us_left img {
  width: 45%;
}

.for_us_right p {
  line-height: normal;
}

.btn {
  border: none;
  padding: 25px 40px;
  background-color: blue;
  color: #fff;
  cursor: pointer;
}

.content {
  width: 50%;
  position: relative;
}

.content h2 {
  font-size: 30px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% 50%);
}

.content p {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50% -50%);
}

.content button {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50% -50%);
}
#facility {

}

#contact {
  height: 300px;
  width: 100%;
  background-color: #ccc;
}

.contact-title,
.contact-text {
  text-align: center;
}

.contact-title {
  font-size: 20px;
  border-bottom: 1px solid blue;
}

footer {
  height: 350px;
  background-color: darkgrey;
  color: #fff;
}